
*:focus {
    outline: none;
}

html {
    min-height: auto;
}
 header {
     position : fixed;
 }

body {
    margin: 0;
    padding: 0;
    background-color: #6EB6A4;
    font-size: 16px;
    height: 100%;
    background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    overflow: auto;
}


* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.logo {
    width: 100px;
    height: 40px;
    margin-right: 20px;
    margin-top: 20px;
}



#login-box {
    position: sticky;
    margin: 20% auto;
    width: 800px;
    height: 800px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    width: 400px;
    height: 400px;
    margin-top: 100px;
}

h1 {
    margin: 0 0px 70px 90px;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
    color: #16a085;
}

h2 {
    margin: -40px 0px 70px 90px;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
    color: #16a085;
}

input[type="text"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 0px;
    width: 115px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

#Gender {
    font-family: 'Roboto', sans-serif;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 25px;
    width: 170px;
    height: 30px;
}

input[type="radio"] {
    margin-bottom: 10px;
    margin-left: 60px;
    margin-top: 20px;
    padding: 0px;
    width: 15px;
    height: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 20;
    font-size: 10px;
}


input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 4px;
    width: 230px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

    input[type="text"]:focus,
    input[type="password"]:focus {
        border-bottom: 2px solid #16a085;
        color: #16a085;
        transition: 0.2s ease;
    }

input[type="submit"] {
    margin-top: 28px;
    width: 160px;
    height: 50px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
    margin-left: 60px;
}

    input[type="submit"]:hover,
    input[type="submit"]:focus {
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

    input[type="submit"]:active {
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

.vl {
    border-left: 2px solid;
    height: 730px;
    position: absolute;
    left: 60%;
    margin-top: 25px;
    margin-left: 0px;
    top: 0;
    color: #6EB6A4;
}

.right {
    position: absolute;
    margin-top: 20px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0px;
    width: 280px;
    height: 400px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

.Quote {
    width: 320px;
    margin-top: 90px;
    margin-left: -80px;
}

.right .loginwith {
    display: block;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 30px;
    color: #FFF;
    text-align: center;
}

button.social-signin {
    margin-bottom: 20px;
    margin-right: 50px;
    width: 220px;
    height: 45px;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

    button.social-signin:hover,
    button.social-signin:focus {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease;
    }

    button.social-signin:active {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.2s ease;
    }

    button.social-signin.facebook {
        background: #32508E;
    }

    button.social-signin.twitter {
        background: #55ACEE;
    }

    button.social-signin.google {
        background: #DD4B39;
    }

.Signin {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: absolute;
    bottom: 8px;
    left: 25px;
}
