<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Site Metas -->
    <title>Dnaprints</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/donya15.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/images/images/donya15.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/content/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/content/style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="../static/content/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="../static/content/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/content/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/content/custom.css">
    <!-- Modernizer for Portfolio -->
    <script src="../static/scripts/modernizer.js"></script>
    <!-- [if lt IE 9] -->
</head>

<body class="clinic_version">
    <!-- LOADER -->
    <div id="preloader" style="background-color: white;">
        <img class="preloader" src="../static/images/loaders/DNA.gif" alt="">
    </div>
    <!-- END LOADER -->
    <header>
        <div class="header-top wow fadeIn">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../static/images/donya14.png" alt="image"></a>
                <div class="right-header">
                    <div class="header-info">
                        <div class="info-inner">
                            <span class="icontop"><img src="../static/images/phone-icon.png" alt="#"></span>
                            <span class="iconcont"><a href="tel:01003138425">01003138425</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll
                                    href="mailto:Dnaprints@gmail.com">Dnaprints@gmail.com</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll href="#">24hr/7</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom wow fadeIn">
            <div class="container">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars"
                                aria-hidden="true"></i></button>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="active" href="/home">Home</a></li>
                            <li><a data-scroll href="#about">About us</a></li>
                            <li><a data-scroll href="#service">Services</a></li>
                            <li><a data-scroll href="#doctors">Labs</a></li>
                            <!-- <li><a data-scroll href="#price">Price</a></li>-->
                            <li><a data-scroll href="#testimonials">Testimonials</a></li>
                            <li><a data-scroll href="/sign">Join us now</a></li>
                            <li><a data-scroll href="#getintouch">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div id="home" class="parallax first-section wow fadeIn" data-stellar-background-ratio="0.4"
        style="background-image: url('../static/images/5.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="text-contant">
                        <h2>
                            <span class="center"><span class="icon"><img src="../static/images/donya15.png"
                                        style="width:100px;height:40px;" alt="#" /></span></span>
                            <a href="" class="typewrite" data-period="2000" style="color:white;"
                                data-type='[ "If something stands between you and your success, move it.", "You will never know what you are capable of until you take that first step!" ]'>
                                <span class="wrap"></span>
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section -->

    <div id="about" class="section wow fadeIn">
        <div class="container">
            <div class="heading">
                <span class="icon-logo"><img src="../static/images/donya15.png" style="width:120px;height:40px;"
                        alt="#"></span>
                <h2>About Us</h2>
            </div>
            <!-- end title -->
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h4>What We Do</h4>
                        <h2>Our Services</h2>
                        <p class="lead"> Physical activity is a vital component of a healthy life, but there is an ideal
                            sport for each one. We recommend the type of sport best suited to your body and warn you of
                            some future diseases, take a look at your genetic predispositions, and know how the genes
                            affect your performance. </p>
                        <!--   <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">Learn More</a>-->
                    </div>
                    <!-- end messagebox -->
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="post-media wow fadeIn">
                        <img src="../static/images/8.jpg" alt="" class="img-responsive">
                        <a href="https://www.youtube.com/watch?v=aJZzNu9bF5o" data-rel="prettyPhoto[gal]"
                            class="playbutton"><i class="flaticon-play-button"></i></a>
                    </div>
                    <!-- end media -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <hr class="hr1">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="../static/images/mosalaah.jpg" data-rel="prettyPhoto[gal]"
                                class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="../static/images/mosalaah.jpg" alt="" class="img-responsive">
                        </div>
                        <h3> Find out whether you are athlete or not </h3>
                    </div>
                    <!-- end service -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="../static/images/recommendationofsport.jpg" data-rel="prettyPhoto[gal]"
                                class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="../static/images/recommendationofsport.jpg" alt="" class="img-responsive">
                        </div>
                        <h3>Recommendation of suitable Sport </h3>
                    </div>
                    <!-- end service -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="../static/images/injury.jpeg" data-rel="prettyPhoto[gal]"
                                class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="../static/images/injury.jpeg" alt="" class="img-responsive">
                        </div>
                        <h3>Possibility of having future injuries</h3>
                    </div>
                    <!-- end service -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="../static/images/report.jpg" data-rel="prettyPhoto[gal]"
                                class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="../static/images/report.jpg" alt="" class="img-responsive">
                        </div>
                        <h3>Descriptive analysis for the genetic profile</h3>
                    </div>
                    <!-- end service -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <div id="service" class="services wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div class="inner-services">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="serv">
                                <span class="icon-service"><img src="../static/images/.png" alt="#" /></span>
                                <h4>LABORATORIES</h4>
                                <p>We work with trustworthy labs</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="serv">
                                <span class="icon-service"><img src="../static/images/computer.png" alt="#" /></span>
                                <h4>TECHNICAL</h4>
                                <p>We are using machine learning techniques in our processing to get your output</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="serv">
                                <span class="icon-service"><img src="../static/images/report.png" alt="#" /></span>
                                <h4>DETAILED REPORT</h4>
                                <p> We represent a descriptive analysis about yor genes and their effects on your body
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="appointment-form">
                        <h3><span>+</span> Book a visit</h3>
                        <!--<img src="images/donya15.png "style="width:30px;">-->
                        <div class="form">
                            <form action="index.html">
                                <fieldset>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input type="text" id="name" placeholder="Your Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address" id="email" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-section">
                                        <div class="row">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Day</option>
                                                    <option>Sunday</option>
                                                    <option>Monday</option>
                                                    <option>Tuesday</option>
                                                    <option>Wednesday</option>
                                                    <option>Thursday</option>
                                                    <option>Friday</option>
                                                    <option>Saturday</option>

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Time</option>
                                                    <option>AM</option>
                                                    <option>PM</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>Lab</option>
                                                    <option>lab 1</option>
                                                    <option>lab2</option>
                                                    <option>lab3</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <textarea rows="4" id="textarea_message" class="form-control"
                                                    placeholder="Your Message..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="center"><button type="submit">Submit</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- doctor -->

    <div id="doctors" class="parallax section db" data-stellar-background-ratio="0.4" style="background:#fff;"
        data-scroll-id="doctors" tabindex="-1">
        <div class="container">

            <div class="heading">
                <span class="icon-logo"><img src="../static/images/donya15.png" style="width:100px;height:40px;"
                        alt="#"></span>
                <h2> Labs we work with</h2>
            </div>

            <div class="row dev-list text-center">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s"
                    data-wow-delay="0.2s"
                    style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                    <div class="widget clearfix">
                        <img src="../static/images/lab1.jpg" alt="" class="img-responsive img-rounded">
                        <div class="widget-title">
                            <h3>AlBorg laboratories</h3>
                            <small>Founded in 1991</small>
                        </div>
                        <!-- end title -->
                        <p>Al Borg Laboratories is the first medical-laboratory company in the Middle East to implement
                            an efficient hub-and-spoke business model, allowing it quickly to become the largest
                            privately owned laboratory group in the region.</p>

                        <div class="footer-social">
                            <a href="https://www.facebook.com/AlBorg.Egypt/" class="btn grd1"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/alborglabs?lang=en" class="btn grd1"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="tel:19911" class="btn grd1"><i class="fa fa-phone"></i></a>
                        </div>
                    </div>
                    <!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s"
                    data-wow-delay="0.4s"
                    style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;">
                    <div class="widget clearfix">
                        <img src="../static/images/lab2.jpg" alt="" class="img-responsive img-rounded">
                        <div class="widget-title">
                            <h3>AlMokhtabar laboratories</h3>
                            <small>Founded in 1979</small>
                        </div>
                        <!-- end title -->
                        <p>Al Mokhtabar is the largest private medical laboratory testing company in the Middle East,
                            providing diagnostic laboratory services, pathological and clinical tests for medical
                            communities in Egypt.</p>

                        <div class="footer-social">
                            <a href="https://www.facebook.com/almokhtabar/" class="btn grd1"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/almokhtabar?lang=gl" class="btn grd1"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="https://www.instagram.com/almokhtabar.labs/?hl=en" class="btn grd1"><i
                                    class="fa fa-instagram"></i></a>
                            <a href="tel:19014" class="btn grd1"><i class="fa fa-phone"></i></a>

                        </div>
                    </div>
                    <!--widget -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn">
                    <div class="widget clearfix">
                        <img src="../static/images/lab3a.jpg" alt="" class="img-responsive img-rounded">
                        <div class="widget-title">
                            <h3>Cairo Scan laboratories</h3>
                            <small>Founded in 1983</small>
                        </div>
                        <!-- end title -->
                        <p>Cairo Scan was set up to transform the radiology business in Egypt. The founders envisioned a
                            place where all Egyptians could seek the best expertise in medicine, aided by the most
                            up-to-date equipment, and complemented by an exceptional service.</p>

                        <div class="footer-social">
                            <a href="https://www.facebook.com/CairoScanRadiologyLabs/" class="btn grd1"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="tel:19141" class="btn grd1"><i class="fa fa-phone"></i></a>
                        </div>
                    </div>
                    <!--widget -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div>

    <div id="testimonials" class="section wb wow fadeIn">
        <div class="container">
            <div class="heading">
                <span class="icon-logo"><img src="../static/images/donya15.png" style="width:120px;height:40px;"
                        alt="#"></span>
                <h2>Testimonials</h2>
            </div>
            <!-- end title -->
            <div class="row">
                <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> This Test helped me alot in my life!</h3>
                            <p class="lead">They have got y results quickly with profissionalism.</p>
                        </div>
                        <div class="testi-meta">
                            <img src="../static/images/pro.jpg" style="border-radius:50%;" alt=""
                                class="img-responsive alignleft">
                            <h4>username</h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                </div>
                <!-- end col -->
                <div class="col-md-6 col-sm-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <div class="testimonial clearfix">
                        <div class="desc">
                            <h3><i class="fa fa-quote-left"></i> Thanks for helping us</h3>
                            <p class="lead">we did the DNA tet and get the results and we are impressed </p>
                        </div>
                        <div class="testi-meta">
                            <img src="../static/images/testi_02.png" alt="" class="img-responsive alignleft">
                            <h4>username 2<small></small></h4>
                        </div>
                        <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div>
        <!-- end container -->

    </div>
    <!-- end section -->
    <div id="getintouch" class="section wb wow fadeIn" style="padding-bottom:0;">
        <div class="container">
            <div class="heading">
                <span class="icon-logo"><img src="../static/images/donya15.png" style="width:120px;height:40px;"
                        alt="#"></span>
                <h2>Get in Touch</h2>
            </div>
        </div>
        <div class="contact-section">
            <div class="form-contant">
                <form id="ajax-contact" action="" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group in_name">
                                <input type="text" class="form-control" placeholder="Name" required="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group in_email">
                                <input type="email" class="form-control" placeholder="E-mail" required="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group in_email">
                                <input type="tel" class="form-control" id="phone" placeholder="Phone"
                                    required="required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group in_email">
                                <input type="text" class="form-control" id="subject" placeholder="Subject"
                                    required="required">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group in_message">
                                <textarea class="form-control" id="message" rows="5" placeholder="Message"
                                    required="required"></textarea>
                            </div>
                            <div class="actions">
                                <input type="submit" value="Send Message" name="submit" id="submitButton"
                                    class="btn small" title="Submit Your Message!">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="googleMap" style="width:100%;height:450px;"></div>
        </div>
    </div>
    <footer id="footer" class="footer-area wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo padding">
                        <a href=""><img src="../static/images/donya15.png" alt=""></a>
                        <p>Together Everyone Achieves More.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-info padding">
                        <h3>CONTACT US</h3>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Misr international university</p>
                        <p><i class="fa fa-paper-plane" aria-hidden="true"></i> DNAprints@gmail.com</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> (+22) 01003138425</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="subcriber-info">
                        <h3>SUBSCRIBE</h3>
                        <p>Get healthy news, tip and solutions to your problems from our experts.</p>
                        <div class="subcriber-box">
                            <form id="mc-form" class="mc-form">
                                <div class="newsletter-form">
                                    <input type="email" autocomplete="off" id="mc-email" placeholder="Email address"
                                        class="form-control" name="EMAIL">
                                    <button class="mc-submit" type="submit"><i class="fa fa-paper-plane"></i></button>
                                    <div class="clearfix"></div>
                                    <!-- mailchimp-alerts Start -->
                                    <div class="mailchimp-alerts">
                                        <div class="mailchimp-submitting"></div>
                                        <!-- mailchimp-submitting end -->
                                        <div class="mailchimp-success"></div>
                                        <!-- mailchimp-success end -->
                                        <div class="mailchimp-error"></div>
                                        <!-- mailchimp-error end -->
                                    </div>
                                    <!-- mailchimp-alerts end -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright-area wow fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="footer-text">
                        <p>© 2018 DNAprints. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="social">
                        <ul class="social-links">
                            <li><a href=""><i class="fa fa-github"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                            <li><a href=""><i class="fa fa-whatsapp"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end copyrights -->
    <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
    <!-- all js files -->
    <script src="../static/scripts/all.js"></script>
    <!-- all plugins -->
    <script src="../static/scripts/custom.js"></script>
    <!-- map -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUPWkb4Cjd7Wxo-T4uoUldFjoiUA1fJc&callback=myMap"></script>
</body>

</html>