<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Site Metas -->
    <title>Users</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/donya15.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/images/donya15.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/content/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/content/style.css">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="../static/content/userlist.css">
    <link rel="stylesheet" href="../static/content/colors.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="../static/content/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/content/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/content/custom.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Modernizer for Portfolio -->
    <script src="../static/scripts/modernizer.js"></script>
    <!-- [if lt IE 9] -->
</head>
<body class="clinic_version">
    <!-- LOADER -->
    <div id="preloader" style="background-color: white;">
        <img class="preloader" src="../static/images/loaders/DNA.gif" alt="">
    </div>
    <!-- END LOADER -->
    <header>
        <div class="header-top wow fadeIn">
            <div class="container">
                <a class="navbar-brand" href="index.html"><img src="../static/images/donya14.png" alt="image"></a>
                <div class="right-header">
                    <div class="header-info">
                        <div class="info-inner">
                            <span class="icontop"><img src="../static/images/phone-icon.png" alt="#"></span>
                            <span class="iconcont"><a href="tel:800 123 456">01003138425</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll href="mailto:info@yoursite.com">Dnaprints@gmail.com</a></span>
                        </div>
                        <div class="info-inner">
                            <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <span class="iconcont"><a data-scroll href="#">24hr/7</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom wow fadeIn">
            <div class="container">
                <nav class="main-menu">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true"></i></button>
                    </div>
                </nav>
                <div class="serch-bar">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-box center-version" style="margin-top:200px;background-color:#dcfcf1; ">
                    <a href="">
                        <img alt="image" class="img-circle" src="../static/images/testi_01.png">
                        <h3 class="m-b-xs"><strong>Username</strong></h3>

                        <div class="font-bold">Usertype</div>
                        <address class="m-t-md">
                            Email<br>
                            <abbr title="Phone">P:</abbr> Phone
                        </address>
                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-box center-version" style="margin-top:200px;background-color:#dcfcf1;">
                    <a href="">
                        <img alt="image" class="img-circle" src="../static/images/testi_03.png">
                        <h3 class="m-b-xs"><strong>Username</strong></h3>

                        <div class="font-bold">Usertype</div>
                        <address class="m-t-md">
                            Email<br>
                            <abbr title="Phone">P:</abbr> phone
                        </address>
                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-box center-version" style="margin-top:200px;background-color:#dcfcf1;">
                    <a href="">
                        <img alt="image" class="img-circle" src="../static/images/testi_02.png">
                        <h3 class="m-b-xs"><strong>Username</strong></h3>
                        <div class="font-bold">Usertype</div>
                        <address class="m-t-md">
                            Email<br>
                            <abbr title="Phone">P:</abbr> Phone
                        </address>
                    </a>
                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                            <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"></script>
    <!-- all js files -->
    <script src="../static/scripts/all.js"></script>
    <!-- all plugins -->
    <script src="../static/scripts/custom.js"></script>
</body>
</html>